body, html {
  height: 100%;
  margin: 0;
  font-family: Lato,Helvetica,Arial,sans-serif;
  background: url(img/ford-site.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#LP_DIV_1528299932999 {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 0 65px 50px 0;
}

#LP_DIV_1528386913236 {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 0 0 50px 65px;
}

#LP_DIV_1528299932999 div:focus, #LP_DIV_1528386913236 div:focus {
  outline:0;
}

/* MAZDA */
#mazdaChatBtn {
    background-color: #c42f32;
    height: 40px;
    width: 150px;
    text-align: center;
    border-radius: 10px;
}

#mazdaChatBtn a {
    color: #ffffff;
    text-decoration: none;
    line-height: 40px;
}

#mazdaChatBtn a i {
    padding-right: 7px;
}

/* FORD */
#fordChatBtn {
    background: -moz-linear-gradient(90deg, #133a7c 0%, #47a8e5 50%, #133a7c 100%);
    background: -webkit-linear-gradient(90deg, #133a7c 0%, #47a8e5 50%, #133a7c 100%);
    background: linear-gradient(90deg, #133a7c 0%, #47a8e5 50%, #133a7c 100%);
    height: 40px;
    width: 150px;
    text-align: center;
    border-radius: 10px;
}

#fordChatBtn a {
    color: #ffffff;
    text-decoration: none;
    line-height: 40px;
}

#fordChatBtn a i {
    padding-right: 7px;
}

/*
.bg {
  background-image: url("./img/Design.PNG");

  height: 100%; 

  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
*/
